@charset "UTF-8";
/* Reset and base styles  */
*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  height: 100%;
  /* sticky footer */ }

body {
  height: 100%;
  /* sticky footer */
  display: flex;
  /* sticky footer */
  flex-direction: column;
  /* sticky footer */
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #000000; }

body.noscroll {
  overflow: hidden; }

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 98;
  display: none; }

#overlay.active {
  display: block; }

body#preload {
  margin-left: 128px; }
  body#preload footer {
    margin-left: -128px; }
    @media (max-width: 910px) {
      body#preload footer {
        margin-left: 0; } }
  @media (max-width: 910px) {
    body#preload {
      margin-left: auto; } }

body#category-ledders {
  margin-left: 128px; }
  body#category-ledders footer {
    margin-left: -128px; }
    @media (max-width: 910px) {
      body#category-ledders footer {
        margin-left: 0; } }
  @media (max-width: 910px) {
    body#category-ledders {
      margin-left: auto; } }

body#catalog-item {
  margin-left: 128px; }
  body#catalog-item footer {
    margin-left: -128px; }
    @media (max-width: 910px) {
      body#catalog-item footer {
        margin-left: 0; } }
  @media (max-width: 910px) {
    body#catalog-item {
      margin-left: auto; } }

body > * {
  flex-shrink: 0;
  /* sticky footer */ }

input,
textarea,
button {
  font-family: inherit;
  padding: 0;
  outline: none; }

label {
  cursor: pointer; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0; }

a {
  text-decoration: none; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

fieldset {
  border: none;
  margin: 0;
  padding: 0; }

legend {
  display: block;
  margin: 0;
  padding: 0;
  border: none; }

/* Grid styles */
.container {
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px; }

@media (min-width: 2000px) {
  .container--large {
    width: 1750px; } }
/* Utility */
.none {
  display: none !important; }

/* Sticky Footer */
.footer {
  margin-top: auto;
  /* sticky footer */
  /* Just for fun */
  text-align: center;
  background-color: #e2e2e2;
  padding: 50px 0; }

/* Tablet */
@media (max-width: 1199px) {
  .container {
    max-width: 900px; } }
/* Mobile */
@media (max-width: 910px) {
  .container {
    max-width: 600px; } }
@media (max-width: 599px) {
  .container {
    max-width: 428px; } }
/* Mobile XS */
@media (max-width: 429px) {
  .container {
    width: 100%; } }
.mobile-menu {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 910px;
  border-bottom: 24px solid #00365b;
  z-index: 9999;
  transform: translateY(-100%);
  transition: transform 0.5s; }

.mobile-menu.active {
  transform: translateY(0);
  transition: transform 0.5s; }

.mobile-menu__header {
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 45px;
  display: flex;
  flex-direction: column;
  background-color: #00365b; }

.mobile-menu__header-top {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .mobile-menu__header-top button {
    color: #fff;
    background: transparent; }

.mobile-menu__header-logo {
  padding-top: 60px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center; }

.mobile-menu__main {
  background-color: #fff; }

.mobile-menu__close {
  cursor: pointer; }

.mobile-menu .mobile-link {
  padding: 21px 45px;
  display: flex;
  align-items: center;
  color: #000;
  border-bottom: 1px solid #c9c9c9; }

.mobile-menu .mobile-link > * + * {
  margin-left: 25px; }

.mobile-menu .mobile-menu__links ul li:nth-child(1) {
  font-weight: 700;
  background: #f8f8f8; }
  .mobile-menu .mobile-menu__links ul li:nth-child(1) a {
    color: #00365b; }

.mobile-menu__contacts {
  padding: 41px 48px;
  display: flex;
  align-items: center; }
  .mobile-menu__contacts p {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.1; }

.mobile-menu__contacts > * + * {
  margin-left: 12px; }

#header {
  position: fixed;
  top: o;
  width: 100%;
  z-index: 999;
  background-color: #fff; }
  @media (max-width: 910px) {
    #header {
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25); } }

.header-nav {
  display: flex;
  justify-content: flex-end;
  font-weight: 300; }
  @media (max-width: 1150px) {
    .header-nav {
      font-size: 14px; } }
  @media (max-width: 990px) {
    .header-nav {
      font-size: 12px; } }

#header.header-scroll-active {
  box-shadow: 0px -1px 10px rgba(0, 0, 0, 0.25); }

.header-nav--secondary .header-nav__wrapper,
.header-nav--secondary .header-nav__wrapper {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 25px;
  padding-left: 75px;
  padding-right: 150px;
  display: flex;
  align-items: center; }
  @media (max-width: 910px) {
    .header-nav--secondary .header-nav__wrapper,
    .header-nav--secondary .header-nav__wrapper {
      padding-left: 15px;
      padding-right: 15px; } }

.header-nav__menu {
  padding-left: 32px;
  padding-right: 32px;
  display: flex;
  align-items: center;
  min-height: 41px; }
  .header-nav__menu ul {
    display: flex; }
  .header-nav__menu a {
    position: relative;
    display: block;
    text-decoration: none;
    color: black; }
  .header-nav__menu a::before {
    content: "";
    height: 2px;
    width: 0%;
    position: absolute;
    bottom: -5px;
    z-index: -1;
    background-color: #f37833;
    transition: 0.5s; }
  .header-nav__menu a:hover::before {
    width: 40%;
    transition: 0.5s; }
  @media (max-width: 1470px) {
    .header-nav__menu {
      padding-left: 0; }
      .header-nav__menu ul li {
        display: none; }
        .header-nav__menu ul li:nth-child(1) {
          display: block; }
        .header-nav__menu ul li:nth-child(2) {
          display: block; }
        .header-nav__menu ul li:nth-child(3) {
          display: block; } }
  @media (max-width: 910px) {
    .header-nav__menu {
      display: none; } }

.header-nav__logo {
  width: 230px;
  flex-shrink: 0; }
  .header-nav__logo img:nth-child(1) {
    display: block; }
  .header-nav__logo img:nth-child(2) {
    display: none; }

.header-nav__logo img {
  width: 186px; }

#header.header-scroll-active .header-nav__logo img:nth-child(2) {
  display: block; }
#header.header-scroll-active .header-nav__logo img:nth-child(1) {
  display: none; }

.header-nav__icon {
  position: relative;
  height: 20px;
  cursor: pointer; }

.header-nav__icon:hover .header-nav__dropdown {
  opacity: 1;
  visibility: visible; }

.header-nav__dropdown {
  opacity: 0;
  visibility: hidden;
  padding: 15px;
  position: absolute;
  top: 17px;
  left: 0;
  box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  color: #000; }
  .header-nav__dropdown a {
    position: relative;
    color: #000 !important; }
  .header-nav__dropdown a::before {
    content: "";
    height: 2px;
    width: 0%;
    position: absolute;
    bottom: -5px;
    background-color: #f37833;
    transition: 0.5s; }

.header-nav__dropdown a:hover::before {
  width: 40%; }

.header-nav__dropdown ul > * + * {
  margin-top: 10px; }

.header-nav__right {
  display: flex;
  align-items: center; }

.header-nav__right > * + * {
  margin-left: 32px; }

.header-nav__contacts {
  display: flex;
  align-items: center; }
  .header-nav__contacts a {
    color: black; }

.header-nav__contacts > * + * {
  margin-left: 32px; }

.header-nav__menu > * + * {
  margin-left: 38px; }

.header-nav__menu ul > * + * {
  margin-left: 38px; }

.nav-menu__icon {
  cursor: pointer; }
  .nav-menu__icon svg {
    margin-bottom: 3px; }

.header-nav--secondary .header-nav__wrapper,
.header-nav--secondary .header-nav__wrapper {
  width: 100%;
  justify-content: space-between; }

.header-nav--secondary .header-nav__navigation {
  width: 100%;
  display: flex;
  justify-content: flex-end; }

.header__burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
  width: 63px;
  height: 48px;
  background-color: #F37833;
  cursor: pointer; }
  @media (max-width: 910px) {
    .header__burger-menu {
      display: flex; } }

.header__logo {
  display: none; }
  @media (max-width: 910px) {
    .header__logo {
      display: block; } }

.button {
  padding: 10px 16px;
  transition: all 0.2s ease-in-out;
  cursor: pointer; }

.button--light {
  border: 2.5px solid #f37833; }
  .button--light:hover {
    background-color: #f37833; }

.button--bold {
  padding: 12px 19px;
  border: none;
  outline: none;
  background: #ff5c00;
  color: white; }

.button--catalog {
  padding: 25px 64px;
  background-color: #f37833;
  border: none;
  outline: none;
  color: #fff;
  font-weight: 300;
  font-size: 24px;
  line-height: 1.1;
  transition: none; }

.title-h1 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 1.2;
  color: #ffffff; }

.title-h2 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 0.8;
  color: #000000; }

.title-category {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 1.1; }

#main .category-pattern > * + * {
  margin-top: 13px; }
  @media (max-width: 599px) {
    #main .category-pattern > * + * {
      margin-top: 8px; } }

#main .category-pattern label {
  font-weight: 300;
  font-size: 24px;
  line-height: 1.1; }

#main .category-pattern .category-pattern__bottom {
  display: flex;
  justify-content: space-between; }

#main .category-pattern .category-pattern__row {
  display: flex;
  justify-content: space-between; }

#main .category-pattern .category-pattern__row .category-card {
  width: 49%; }

#main .category-pattern .category-pattern__column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 49%; }

#main .category-pattern .category-pattern__column > * + * {
  margin-top: 13px; }
  @media (max-width: 599px) {
    #main .category-pattern .category-pattern__column > * + * {
      margin-top: 8px; } }

#main .category-pattern .category-card {
  position: relative;
  min-height: 350px;
  color: #000;
  border: 0.8px solid #d4d4d4;
  font-weight: 300;
  font-size: 24px;
  line-height: 1.1;
  overflow: hidden; }
  #main .category-pattern .category-card img {
    height: 100%;
    object-fit: cover;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in; }
  @media (max-width: 1199px) {
    #main .category-pattern .category-card {
      min-height: 270px; } }
  @media (max-width: 910px) {
    #main .category-pattern .category-card {
      min-height: 200px; } }
  @media (max-width: 599px) {
    #main .category-pattern .category-card {
      min-height: 120px; } }

#main .category-pattern .category-card:hover img {
  transform: scale(1.1);
  /* IE 9 */
  -webkit-transform: scale(1.1);
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  -ms-transform: scale(1.5, 1.5); }

#main .category-pattern .category-card.category-card--large {
  min-height: 718px; }
  @media (max-width: 1199px) {
    #main .category-pattern .category-card.category-card--large {
      min-height: 540px; } }
  @media (max-width: 910px) {
    #main .category-pattern .category-card.category-card--large {
      min-height: 400px; } }
  @media (max-width: 599px) {
    #main .category-pattern .category-card.category-card--large {
      min-height: 240px; } }

#main .category-pattern .category-card .category-card__title {
  z-index: 10;
  position: absolute;
  left: 50%;
  transform: translate(-50%); }
  @media (max-width: 1199px) {
    #main .category-pattern .category-card .category-card__title {
      font-size: 20px; } }
  @media (max-width: 910px) {
    #main .category-pattern .category-card .category-card__title {
      font-size: 15px; } }
  @media (max-width: 599px) {
    #main .category-pattern .category-card .category-card__title {
      font-size: 11px; } }
  @media (max-width: 429px) {
    #main .category-pattern .category-card .category-card__title {
      font-size: 9px; } }

#main .category-pattern .category-card .category-card__number {
  font-weight: 400;
  z-index: 10; }
  @media (max-width: 1199px) {
    #main .category-pattern .category-card .category-card__number {
      font-size: 20px; } }
  @media (max-width: 910px) {
    #main .category-pattern .category-card .category-card__number {
      font-size: 15px; } }
  @media (max-width: 599px) {
    #main .category-pattern .category-card .category-card__number {
      font-size: 11px; } }
  @media (max-width: 599px) {
    #main .category-pattern .category-card .category-card__number {
      font-size: 9px; } }

#main .category-card__header {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
  z-index: 10; }
  @media (max-width: 1199px) {
    #main .category-card__header {
      padding-top: 20px;
      padding-left: 20px;
      padding-right: 20px; } }
  @media (max-width: 910px) {
    #main .category-card__header {
      padding-top: 16px;
      padding-left: 16px;
      padding-right: 16px; } }
  @media (max-width: 599px) {
    #main .category-card__header {
      padding-top: 11px;
      padding-left: 11px;
      padding-right: 11px; } }
  @media (max-width: 429px) {
    #main .category-card__header {
      padding-top: 8px;
      padding-left: 8px;
      padding-right: 8px; } }

#main .category-card__header-content {
  display: flex;
  justify-content: flex-end; }

.category-pattern__button {
  display: none;
  align-items: center;
  max-width: 260px;
  margin-top: 35px;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  background: #00365b;
  cursor: pointer; }
  @media (max-width: 910px) {
    .category-pattern__button {
      display: flex; } }

.category-pattern__button > * + * {
  margin-left: 13px; }

.filter-show {
  display: flex;
  align-items: center; }

.filter-show > * + * {
  margin-left: 10px; }

.socials {
  width: 136px;
  display: flex;
  justify-content: space-between; }

.benefits {
  text-align: center; }
  .benefits h3 {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.1;
    margin-bottom: 116px;
    margin-bottom: 60px; }
    @media (max-width: 599px) {
      .benefits h3 {
        font-size: 18px; } }

.benefits__content > * + * {
  margin-top: 92px; }
  @media (max-width: 910px) {
    .benefits__content > * + * {
      margin-top: 60px; } }

.benefits__top,
.benefits__bottom {
  display: flex;
  justify-content: space-between; }

.benefits__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 32%;
  line-height: 2; }
  @media (max-width: 599px) {
    .benefits__item img {
      width: 35px;
      height: 35px; } }

.benefits__item > * + * {
  margin-top: 18px; }

.benefits__item span {
  color: orange; }

#preload .benefits {
  padding-bottom: 196px; }
  @media (max-width: 910px) {
    #preload .benefits {
      padding-bottom: 100px; } }
  @media (max-width: 599px) {
    #preload .benefits {
      font-size: 12px;
      padding-bottom: 60px; } }

.contacts-form {
  background-image: url(../img/preload/form/bg-form.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 30px;
  padding-top: 78px; }
  @media (max-width: 599px) {
    .contacts-form {
      padding-top: 40px; } }

.contacts-form__wrapper {
  display: flex; }

.contacts-form__left,
.contacts-form__right {
  width: 50%; }
  .contacts-form__left h3,
  .contacts-form__right h3 {
    font-weight: 300;
    font-size: 24px;
    line-height: 1.5; }
    @media (max-width: 599px) {
      .contacts-form__left h3,
      .contacts-form__right h3 {
        font-size: 16px; } }

@media (max-width: 910px) {
  .contacts-form__right {
    display: none; } }

.contacts-form__left {
  display: flex;
  flex-direction: column; }
  .contacts-form__left h3 {
    margin-bottom: 60px; }
  @media (max-width: 910px) {
    .contacts-form__left {
      width: 100%; } }

.contacts-form__left #input-upload {
  display: none; }

.contacts-form__fields {
  width: 302px;
  margin-bottom: 40px; }
  @media (max-width: 910px) {
    .contacts-form__fields {
      width: 70%; } }

.contacts-form__fields > * + * {
  margin-top: 17px; }

.contacts-form__left .contacts-form__fields input {
  display: block;
  outline: none;
  border: none;
  height: 21px;
  margin-left: 36px;
  background: transparent; }

.contacts-form__left .contacts-form__fields input::placeholder {
  font-weight: 300;
  font-size: 18px;
  line-height: 1.1;
  color: #d4d4d4; }

.contacts-form__item {
  display: flex;
  border-bottom: 0.5px solid #d4d4d4; }

.contacts-form__left .contacts-form__fields label {
  padding-bottom: 15px;
  display: flex;
  align-items: center; }

.contacts-form__left .contacts-form__stages {
  padding-bottom: 37px; }
  .contacts-form__left .contacts-form__stages h3 {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 50px; }

.contacts-form__left .contacts-form__stages .contacts-form__stages-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15.5%; }
  .contacts-form__left .contacts-form__stages .contacts-form__stages-item p {
    font-weight: 300;
    font-size: 14px;
    line-height: 1.1; }
  @media (max-width: 599px) {
    .contacts-form__left .contacts-form__stages .contacts-form__stages-item {
      width: 24.5%; } }

.contacts-form__left
.contacts-form__stages
.contacts-form__stages-item
> *
+ * {
  margin-top: 16px; }

.contacts-form__left .contacts-form__stages .contacts-form__stages-row {
  display: flex;
  justify-content: space-between; }

.contacts-form__left .contacts-form__stages .contacts-form__stages-item label {
  font-weight: 300;
  font-size: 14px;
  line-height: 16px; }
  @media (max-width: 599px) {
    .contacts-form__left .contacts-form__stages .contacts-form__stages-item label {
      font-size: 13px; } }

.contacts-form__left .contacts-form__stages .contacts-form__stages-item input {
  position: absolute;
  top: -13px;
  right: 0; }

.contacts-form__left .contacts-form__left-bottom {
  width: 484px; }
  @media (max-width: 910px) {
    .contacts-form__left .contacts-form__left-bottom {
      width: 85%; } }
  @media (max-width: 599px) {
    .contacts-form__left .contacts-form__left-bottom {
      width: 100%; } }

.contacts-form__left .contacts-form__textarea {
  padding: 23px 55px;
  margin-bottom: 30px;
  outline: none;
  border: 0.8px solid #d4d4d4; }
  .contacts-form__left .contacts-form__textarea textarea {
    width: 100%;
    height: 21px;
    border: none;
    resize: none;
    background: transparent; }
  .contacts-form__left .contacts-form__textarea textarea::placeholder {
    font-weight: 300;
    font-size: 18px;
    line-height: 1.1;
    color: #d4d4d4; }
  @media (max-width: 599px) {
    .contacts-form__left .contacts-form__textarea {
      padding: 23px 23px; } }

.contacts-form__left .contacts-form__file p {
  font-weight: 300;
  font-size: 12px;
  line-height: 14px; }

.contacts-form__left .contacts-form__button {
  display: flex;
  justify-content: flex-end; }
  @media (max-width: 910px) {
    .contacts-form__left .contacts-form__button button {
      font-size: 18px;
      padding: 15px 30px; } }

.contacts-form__left .contacts-form__button > * + * {
  margin-left: 24px; }

.contacts-form__left .contacts-form__file {
  display: flex;
  align-items: center; }
  .contacts-form__left .contacts-form__file p {
    text-align: center; }
  .contacts-form__left .contacts-form__file svg {
    cursor: pointer; }

.contacts-form__left .contacts-form__file > * + * {
  margin-left: 10px; }

.contacts-form .real-checkbox {
  width: 0;
  height: 0;
  opacity: 0;
  z-index: -1; }

.contacts-form .custom-checkbox {
  position: absolute;
  top: 0;
  right: 0;
  width: 18px;
  height: 18px;
  background: #ffffff;
  border: 0.5px solid #7a7a7a;
  border-radius: 4px;
  display: block; }

.contacts-form .custom-checkbox::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  background-image: url(../img/ledders/check.svg);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.2s ease-in; }

#category-ledders .contacts-form {
  padding-top: 78px; }

#sidebar {
  width: 128px;
  /* Full-height: remove this if you want "auto" height */
  /* Set the width of the sidebar */
  max-height: 2300px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  /* Black */
  overflow: hidden;
  /* Disable horizontal scroll */
  z-index: 999; }
  @media (max-width: 910px) {
    #sidebar {
      display: none; } }

#sidebar .sidebar__content {
  display: flex;
  flex-direction: column; }

#sidebar .sidebar__content .sidebar__logo {
  margin-left: auto;
  margin-right: auto;
  width: 128px;
  height: 128px;
  background-repeat: no-repeat;
  background-size: 78px 78px;
  background-image: url(../img/sidebar/logo-blue.png);
  background-position: center; }
  #sidebar .sidebar__content .sidebar__logo:hover {
    background-image: url(../img/sidebar/logo-white.png);
    background-color: #f37833; }

#sidebar .sidebar-menu {
  display: flex;
  flex-direction: column;
  align-items: center; }

#sidebar .sidebar-menu .sidebar-menu__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 128px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  font-size: 18px;
  line-height: 1.1;
  transition: transform 0.3s; }

#sidebar .sidebar-menu .sidebar-menu__item svg {
  margin-left: auto;
  margin-right: auto; }

#sidebar .sidebar-menu .sidebar-menu__item svg:nth-child(2) {
  display: none; }

#sidebar .sidebar-menu .sidebar-menu__item:hover svg:nth-child(1) {
  display: none; }
#sidebar .sidebar-menu .sidebar-menu__item:hover svg:nth-child(2) {
  display: block; }

#sidebar .sidebar-menu .sidebar-menu__item.new::after {
  position: absolute;
  padding: 3px 7px;
  content: "Новинки";
  top: 0;
  right: 0;
  background-color: #f5c8fd;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.1; }

#sidebar .sidebar-menu .sidebar-menu__item.discount::after {
  position: absolute;
  padding: 3px 7px;
  content: "Акция";
  top: 0;
  right: 0;
  background-color: #c8dafd;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.1; }

#sidebar .sidebar-menu .sidebar-menu__item a > * + * {
  margin-top: 8px; }

#sidebar .sidebar-menu .sidebar-menu__item img {
  margin-left: auto;
  margin-right: auto; }

#sidebar .sidebar-menu .sidebar-menu__item:hover {
  transform: scale(0.9);
  transition: transform 0.3s; }

#sidebar .sidebar-menu .sidebar-menu__item a {
  color: #000;
  text-align: center; }

#main header {
  position: fixed;
  top: o;
  width: 100%;
  z-index: 999;
  background-color: unset;
  transition: 0.2s ease-in-out; }

#main .header-nav {
  display: flex;
  justify-content: flex-end;
  font-weight: 500;
  transition: 0.2s ease-in-out; }

#main .header-nav__wrapper {
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 75px;
  padding-right: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  @media (max-width: 1330px) {
    #main .header-nav__wrapper {
      padding-left: 15px;
      padding-right: 15px; } }

#main #header.header-scroll-active {
  color: #000;
  background-color: #fff;
  transition: 0.2s ease-in-out; }
  #main #header.header-scroll-active .header-nav {
    box-shadow: 0px -1px 10px rgba(0, 0, 0, 0.25); }
  #main #header.header-scroll-active a {
    color: #000;
    transition: 0.2s ease-in-out; }
  #main #header.header-scroll-active .header-nav__icon svg circle {
    fill: #000; }

.header-nav__menu {
  display: flex;
  align-items: center;
  min-height: 41px; }
  .header-nav__menu ul {
    display: flex; }
  .header-nav__menu a {
    position: relative;
    display: block;
    text-decoration: none;
    color: black; }
  .header-nav__menu a::before {
    content: "";
    height: 2px;
    width: 0%;
    position: absolute;
    bottom: -5px;
    z-index: -1;
    background-color: #f37833;
    transition: 0.5s; }
  .header-nav__menu a:hover::before {
    width: 40%;
    transition: 0.5s; }
  @media (max-width: 910px) {
    .header-nav__menu {
      display: none; } }

.header-nav__logo {
  width: 200px; }

.header-nav__right {
  display: flex; }
  @media (max-width: 910px) {
    .header-nav__right {
      display: none; } }

.header-nav__right > * + * {
  margin-left: 32px; }

.header-nav__contacts {
  padding-left: 32px;
  display: flex;
  align-items: center;
  border-left: 1px solid #d4d4d4; }
  .header-nav__contacts a {
    color: black; }

.header-nav__contacts > * + * {
  margin-left: 32px; }

.header-nav__menu > * + * {
  margin-left: 38px; }

.header-nav__menu ul > * + * {
  margin-left: 38px; }

.nav-menu__icon {
  cursor: pointer; }
  .nav-menu__icon svg {
    margin-bottom: 3px; }

#main .header-nav a {
  color: #fff; }

#category-ledders #catalog-pattern {
  padding-top: 90px;
  padding-bottom: 90px; }
  @media (max-width: 599px) {
    #category-ledders #catalog-pattern {
      padding-bottom: 50px; } }

#catalog-pattern .catalog-pattern__navigation {
  margin-bottom: 28px;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.1;
  color: #d4d4d4; }
  #catalog-pattern .catalog-pattern__navigation span {
    color: #000; }

.catalog-pattern__show {
  position: relative;
  padding-bottom: 16px;
  border-bottom: 0.8px solid #d4d4d4; }

.catalog-pattern__show::after {
  content: "";
  width: 74px;
  height: 3px;
  position: absolute;
  bottom: -2px;
  left: 0;
  background-image: url(../img/ledders/line.svg); }

.catalog-pattern__filter-wrapper {
  position: sticky;
  top: 150px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background: #f9f9f9;
  width: 270px; }
  @media (max-width: 1000px) {
    .catalog-pattern__filter-wrapper {
      width: 240px; } }

.show-arrow.show {
  transform: rotate(180deg); }

.catalog-pattern__inner {
  margin-top: 28px;
  max-height: 0px;
  overflow: hidden;
  transition: all 0.4s; }

.catalog-pattern__inner.show {
  max-height: 1500px;
  transition: all 0.4s; }

.catalog-pattern__inner > * + * {
  margin-top: 28px; }

.catalog-pattern__filter h3 {
  text-align: center;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  cursor: pointer; }

.catalog-pattern__filter {
  margin-top: 5%;
  position: sticky;
  top: 150px; }
  .catalog-pattern__filter p {
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.1;
    color: #00365b; }

@media (max-width: 910px) {
  #catalog-pattern .catalog-pattern__content .catalog-pattern__filter {
    display: none; } }

.catalog-pattern__filter label {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-weight: 300; }
  .catalog-pattern__filter label i {
    margin-left: 5px; }

.catalog-pattern__filter ul > li + li {
  margin-top: 12px; }

.catalog-pattern__category,
.catalog-pattern__type,
.catalog-pattern__carcas,
.catalog-pattern__stages,
.catalog-pattern__railing {
  padding-bottom: 30px; }

.catalog-pattern__category,
.catalog-pattern__type,
.catalog-pattern__carcas,
.catalog-pattern__stages {
  border-bottom: 0.8px solid #d4d4d4; }

.catalog-pattern__content {
  display: flex; }

.catalog-pattern__content > * + * {
  margin-left: 20px; }

#catalog-pattern .catalog-pattern__products-wrapper {
  margin-right: -10px;
  margin-left: -10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

#catalog-pattern .catalog-pattern__show,
#catalog-pattern .catalog-pattern__more {
  display: flex;
  align-items: center;
  justify-content: center; }

#catalog-pattern .catalog-pattern__show > * + *,
#catalog-pattern .catalog-pattern__more > * + * {
  margin-left: 9px; }

#catalog-pattern .catalog-pattern__more {
  cursor: pointer; }
  @media (max-width: 599px) {
    #catalog-pattern .catalog-pattern__more {
      font-size: 14px; } }

#catalog-pattern .catalog-pattern__card {
  position: relative;
  transition: all 0.2s ease-in-out; }
  @media (max-width: 910px) {
    #catalog-pattern .catalog-pattern__card {
      width: 189px;
      font-size: 12px; } }

#catalog-pattern .catalog-pattern__product {
  position: relative;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 48px;
  display: flex;
  flex-direction: column;
  width: 290px;
  cursor: pointer; }
  @media (max-width: 1000px) {
    #catalog-pattern .catalog-pattern__product {
      width: 240px; } }
  @media (max-width: 910px) {
    #catalog-pattern .catalog-pattern__product {
      width: auto;
      margin-bottom: unset; } }

#catalog-pattern .catalog-pattern__img {
  position: relative;
  transition: all 0.2s ease-in-out; }

#catalog-pattern .catalog-pattern__card:hover .overlay-product {
  visibility: visible;
  opacity: 1;
  transition: all 0.2s ease-in-out; }

#catalog-pattern .catalog-pattern__card:hover {
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out; }
  #catalog-pattern .catalog-pattern__card:hover .catalog-pattern__img {
    filter: brightness(40%);
    transition: all 0.2s ease-in-out; }
    @media (max-width: 910px) {
      #catalog-pattern .catalog-pattern__card:hover .catalog-pattern__img {
        filter: unset; } }
  @media (max-width: 910px) {
    #catalog-pattern .catalog-pattern__card:hover {
      box-shadow: unset; } }

#catalog-pattern .catalog-pattern__card .overlay-product {
  visibility: hidden;
  opacity: 0;
  padding-top: 10px;
  transition: all 0.2s ease-in-out;
  position: absolute;
  bottom: -67%;
  width: 100%;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  z-index: 5; }
  #catalog-pattern .catalog-pattern__card .overlay-product .button--catalog {
    display: flex;
    position: absolute;
    bottom: 125%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.2s ease-in-out;
    width: 183px;
    padding: 13px 30px;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.1; }
    @media (max-width: 910px) {
      #catalog-pattern .catalog-pattern__card .overlay-product .button--catalog {
        display: none; } }
  #catalog-pattern .catalog-pattern__card .overlay-product .button--catalog > * + * {
    margin-left: 11px; }
  #catalog-pattern .catalog-pattern__card .overlay-product .overlay-product-link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.1;
    text-decoration-line: underline;
    color: #00365b;
    cursor: pointer; }
    @media (max-width: 910px) {
      #catalog-pattern .catalog-pattern__card .overlay-product .overlay-product-link {
        padding: 5px 10px;
        border: 1px solid #00365b;
        text-decoration: unset;
        margin-left: 4px;
        margin-right: 4px;
        font-size: 17px; } }
  @media (max-width: 910px) {
    #catalog-pattern .catalog-pattern__card .overlay-product {
      visibility: visible;
      opacity: 1;
      position: static;
      bottom: unset;
      box-shadow: unset; } }

#catalog-pattern .overlay-product .catalog-pattern__chars {
  margin-bottom: 27px; }

#catalog-pattern .overlay-product .catalog-pattern__product {
  margin-bottom: 0; }

#catalog-pattern .catalog-pattern__img .overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); }

#catalog-pattern .catalog-pattern__products {
  width: 100%; }
  #catalog-pattern .catalog-pattern__products h1 {
    text-align: center;
    margin-bottom: 20px; }
    @media (max-width: 910px) {
      #catalog-pattern .catalog-pattern__products h1 {
        font-size: 20px; } }

#catalog-pattern .catalog-pattern__product > * + * {
  margin-top: 12px; }

#catalog-pattern .catalog-pattern__product .catalog-pattern__text {
  display: flex;
  justify-content: space-between;
  align-items: center; }

#catalog-pattern .catalog-pattern__product .catalog-pattern__title {
  width: 165px; }

@media (max-width: 910px) {
  #catalog-pattern .catalog-pattern__product .catalog-pattern__title p {
    min-height: 26px; } }

.catalog-pattern__filter label {
  position: relative; }

.catalog-pattern__filter .real-checkbox {
  width: 0;
  height: 0;
  opacity: 0;
  z-index: -1; }

.catalog-pattern__filter .custom-checkbox {
  position: absolute;
  top: 0;
  right: 0;
  width: 18px;
  height: 18px;
  background: #ffffff;
  border: 0.5px solid #7a7a7a;
  border-radius: 4px;
  display: block; }

.catalog-pattern__filter .custom-checkbox::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  background-image: url(../img/ledders/check.svg);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.2s ease-in; }

.catalog-pattern__filter .real-checkbox:checked + .custom-checkbox::before {
  transform: translate(-50%, -50%) scale(1); }

#catalog-pattern .catalog-pattern__info {
  padding-bottom: 25px;
  padding-top: 18px;
  padding-left: 20px;
  padding-right: 20px;
  background: #fff;
  width: 100%; }
  @media (max-width: 910px) {
    #catalog-pattern .catalog-pattern__info {
      padding-left: 12px;
      padding-right: 12px; } }

#catalog-pattern .catalog-pattern__info .catalog-pattern__price {
  margin-bottom: 8px; }

#catalog-pattern .catalog-pattern__info .catalog-pattern__label {
  margin-bottom: 16px;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.1;
  color: #868686; }
  @media (max-width: 910px) {
    #catalog-pattern .catalog-pattern__info .catalog-pattern__label {
      font-size: 10px; } }

#catalog-pattern .catalog-pattern__info .catalog-pattern__chars span {
  font-weight: 300;
  font-size: 18px;
  line-height: 1.1;
  color: #868686; }
#catalog-pattern .catalog-pattern__info .catalog-pattern__chars ul > * + * {
  margin-top: 8px; }
#catalog-pattern .catalog-pattern__info .catalog-pattern__chars li span {
  margin-right: 12px; }
  @media (max-width: 910px) {
    #catalog-pattern .catalog-pattern__info .catalog-pattern__chars li span {
      font-size: 12px;
      margin-right: 8px; } }

.catalog-pattern__banner {
  width: 100%;
  height: 256px;
  background-color: wheat; }
  @media (max-width: 910px) {
    .catalog-pattern__banner {
      height: 117px; } }

.catalog-pattern__filter-overlay {
  width: 100%;
  height: 100%; }

.catalog-pattern__mobile-filter {
  position: absolute;
  top: 0;
  left: 0;
  height: 610px;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out; }

.catalog-pattern__mobile-filter.active {
  transform: translateX(0%);
  transition: transform 0.5s ease-in-out; }

@media (max-width: 910px) {
  #catalog-pattern .catalog-pattern__mobile-filter .catalog-pattern__filter {
    display: block; } }

.catalog-pattern__mobile-icon {
  width: 92px;
  padding: 2px;
  background-color: #f37833; }
  @media (max-width: 599px) {
    .catalog-pattern__mobile-icon {
      width: 68px; } }

.catalog-pattern__icon-content {
  padding: 7px 10px;
  border: 1px solid #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .catalog-pattern__icon-content p {
    color: #fff;
    font-size: 12px; }
    @media (max-width: 599px) {
      .catalog-pattern__icon-content p {
        font-size: 8px; } }

.catalog-pattern__icon-content > * + * {
  margin-top: 5px; }

.catalog-pattern__mobile-catalog-btn {
  position: absolute;
  left: 0;
  z-index: 99; }

.catalog-pattern__mobile-catalog-btn .catalog-pattern__filter {
  margin-top: 0; }

.catalog-pattern__mobile-catalog-btn .catalog-pattern__filter-wrapper {
  padding-right: 0; }

.catalog-pattern__mobile-catalog-btn .catalog-pattern__show {
  position: relative;
  margin-right: 20px; }

.catalog-pattern__close-btn {
  position: absolute;
  left: 0;
  top: 2px;
  cursor: pointer; }

.catalog-pattern__mobile-catalog-btn .catalog-pattern__inner.show {
  height: 500px;
  overflow-y: scroll;
  padding-right: 5px; }

#catalog-item #product {
  padding-top: 150px; }
  #catalog-item #product h1 {
    font-weight: 300;
    font-size: 32px;
    line-height: 1.1; }
    @media (max-width: 910px) {
      #catalog-item #product h1 {
        font-size: 23px; } }
    @media (max-width: 599px) {
      #catalog-item #product h1 {
        font-size: 18px; } }

#product .product__pagination {
  margin-bottom: 28px;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.1;
  color: #d4d4d4; }
  #product .product__pagination span {
    color: #000; }
  @media (max-width: 910px) {
    #product .product__pagination {
      display: none; } }

#product .product__wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px; }
  #product .product__wrapper > * + * {
    margin-left: 30px; }
  @media (max-width: 910px) {
    #product .product__wrapper {
      flex-direction: column;
      align-items: center;
      padding-bottom: 70px; }
      #product .product__wrapper > * + * {
        margin-top: 20px; } }

#product .product__left {
  display: flex;
  flex-direction: column;
  max-width: 560px; }
  @media (max-width: 1199px) {
    #product .product__left {
      max-width: 505px; } }
  @media (max-width: 1050px) {
    #product .product__left {
      max-width: 440px; } }
  @media (max-width: 970px) {
    #product .product__left {
      max-width: 410px; } }
  @media (max-width: 910px) {
    #product .product__left {
      max-width: 560px; } }

#product .product__slider {
  display: flex;
  justify-content: space-between;
  margin-top: 40px; }
  @media (max-width: 910px) {
    #product .product__slider {
      margin-top: 20px; } }

#product .product__right {
  width: 46%;
  display: flex;
  flex-direction: column; }
  #product .product__right span {
    margin-right: 8px;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.1;
    color: #868686; }
  @media (max-width: 910px) {
    #product .product__right {
      width: 100%; } }

#product .product__title {
  margin-bottom: 27px; }
  @media (max-width: 910px) {
    #product .product__title {
      margin-bottom: 0; } }

#product .product__left .product__title {
  display: none; }
  @media (max-width: 910px) {
    #product .product__left .product__title {
      display: block;
      margin-bottom: 20px; } }

@media (max-width: 910px) {
  #product .product__right .product__title {
    display: none; } }

#product .product__title > * + * {
  margin-top: 12px; }

#product .product__label {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.1;
  color: #868686; }

#product .product__info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 26px; }
  @media (max-width: 910px) {
    #product .product__info {
      flex-direction: column; }
      #product .product__info > * + * {
        margin-top: 20px; } }

#product .product__how-to {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.1;
  text-decoration-line: underline;
  color: #00365b;
  cursor: pointer; }
  @media (max-width: 1199px) {
    #product .product__how-to {
      width: 35%; } }
  @media (max-width: 910px) {
    #product .product__how-to {
      display: none;
      width: auto; } }

#product .product__how-to-mobile {
  display: none;
  padding: 10px 15px;
  width: 170px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.1;
  text-decoration: none;
  color: #fff;
  background-color: #00365b;
  cursor: pointer; }
  @media (max-width: 910px) {
    #product .product__how-to-mobile {
      display: block; } }

#product .product__developer {
  display: flex;
  align-items: center;
  margin-bottom: 14px; }

#product .product__developer > * + * {
  margin-left: 8px; }

#product .product__address {
  display: flex;
  margin-bottom: 60px; }
  @media (max-width: 910px) {
    #product .product__address {
      margin-bottom: 40px; } }

#product .product__address > * + * {
  margin-left: 8px; }

#product .product__address p {
  width: 91%; }

#product .product__chars li span {
  margin-right: 8px; }

#product .product__chars {
  margin-bottom: 12px; }

#product .product__chars ul > * + * {
  margin-top: 8px; }

@media (max-width: 910px) {
  #product .product__price {
    font-size: 24px;
    color: #000; } }
@media (max-width: 910px) {
  #product .product__price span {
    font-size: 24px;
    color: #000; } }

.benefits-icons {
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.9; }

.benefits__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
  line-height: 2; }
  .benefits__icon img {
    width: 54px;
    height: 54px; }

#product .benefits__icon span {
  color: orange; }

#main .header-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(../img/main/header-img.png);
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top; }
  #main .header-img h1 {
    margin-top: 181px;
    font-size: 4vw; }
    @media (max-width: 910px) {
      #main .header-img h1 {
        margin-top: 145px; } }
    @media (max-width: 599px) {
      #main .header-img h1 {
        margin-top: 120px; } }
  @media (max-width: 1199px) {
    #main .header-img {
      height: 70%; } }
  @media (max-width: 910px) {
    #main .header-img {
      height: 50%; } }
  @media (max-width: 599px) {
    #main .header-img {
      height: 35%; } }

#main .header-img::after {
  content: "";
  background-image: url(../img/main/wave.png);
  background-repeat: no-repeat;
  background-position: bottom;
  width: 100%;
  height: 300px;
  background-size: 100%;
  position: absolute;
  bottom: 0;
  left: 0; }
  @media (max-width: 1199px) {
    #main .header-img::after {
      bottom: 255px; } }
  @media (max-width: 910px) {
    #main .header-img::after {
      bottom: 480px; } }
  @media (max-width: 599px) {
    #main .header-img::after {
      bottom: 615px; } }

#main .header-img__title {
  display: flex;
  align-items: flex-end; }

#main .header-img__title > * + * {
  margin-left: 32px; }

#main .header-img__arrow {
  margin-bottom: 10px;
  width: 3vw;
  height: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border-radius: 50%;
  cursor: pointer; }

#main .category-cards {
  padding-bottom: 80px;
  margin-top: -260px; }
  @media (max-width: 1199px) {
    #main .category-cards {
      margin-top: -150px; } }
  @media (max-width: 910px) {
    #main .category-cards {
      margin-top: -100px; } }
  @media (max-width: 599px) {
    #main .category-cards {
      margin-top: -70px;
      padding-bottom: 35px; } }

#main .info {
  background-color: #f8f8f8;
  border-left: 22px solid #f37833;
  background-image: url(../img/main/lavochka.png);
  background-repeat: no-repeat;
  background-position: bottom right; }
  @media (max-width: 1199px) {
    #main .info {
      background-size: 30%; } }

#main .info .info__content {
  padding-bottom: 80px;
  padding-top: 30px; }

#main .info .info__content p {
  font-size: 18px; }
  @media (max-width: 1199px) {
    #main .info .info__content p {
      font-size: 16px; } }
  @media (max-width: 429px) {
    #main .info .info__content p {
      font-size: 12px; } }

#main .info .info__content p:not(:first-child) {
  width: 80%; }

#main .info .info__content > p + p {
  margin-top: 40px; }

#main .text {
  padding-top: 105px;
  padding-bottom: 105px; }
  @media (max-width: 599px) {
    #main .text {
      padding-top: 55px;
      padding-bottom: 45px; } }

#main .text .text__content p {
  font-size: 18px; }
  @media (max-width: 1199px) {
    #main .text .text__content p {
      font-size: 16px; } }
  @media (max-width: 429px) {
    #main .text .text__content p {
      font-size: 12px; } }

@media (max-width: 599px) {
  #main .text .text__content p:nth-child(2) {
    display: none; } }

#main .text .text__content p:not(:first-child) {
  width: 80%; }

#main .text .text__content > p + p {
  margin-top: 40px; }

#preload .text {
  padding-top: 167px;
  padding-bottom: 205px; }
  @media (max-width: 910px) {
    #preload .text {
      padding-top: 100px;
      padding-bottom: 100px; } }
  @media (max-width: 599px) {
    #preload .text {
      padding-top: 40px;
      padding-bottom: 30px; } }

#category-ledders .text {
  padding-top: 94px;
  padding-bottom: 200px; }
  @media (max-width: 599px) {
    #category-ledders .text {
      padding-top: 68px;
      padding-bottom: 30px; } }

#catalog-item .text {
  padding-top: 94px;
  padding-bottom: 200px; }
  @media (max-width: 910px) {
    #catalog-item .text {
      padding-top: 68px;
      padding-bottom: 30px; } }

#footer {
  box-shadow: 0px -1px 10px rgba(0, 0, 0, 0.25); }
  @media (max-width: 1199px) {
    #footer {
      font-size: 16px; } }
  @media (max-width: 429px) {
    #footer {
      font-size: 13px; } }

#footer .footer__left {
  padding-left: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  height: 100%; }
  @media (max-width: 1199px) {
    #footer .footer__left {
      padding-left: 50px; } }
  @media (max-width: 910px) {
    #footer .footer__left {
      padding-left: 0;
      width: 100%; } }

#footer .footer__left > * + * {
  margin-top: 76px; }

#footer .footer__wrapper {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  justify-content: space-between; }
  @media (max-width: 910px) {
    #footer .footer__wrapper {
      flex-direction: column-reverse; } }

@media (max-width: 910px) {
  #footer .footer__wrapper > * + * {
    margin-bottom: 50px; } }
#footer .footer__links {
  display: flex;
  justify-content: space-between; }

#footer .footer__copyright {
  display: flex;
  justify-content: space-between; }
  @media (max-width: 910px) {
    #footer .footer__copyright {
      flex-direction: column-reverse;
      align-items: center; }
      #footer .footer__copyright a {
        font-weight: 700; }
      #footer .footer__copyright > * + * {
        margin-bottom: 20px; } }

#footer .footer__left a {
  color: #000; }

#footer .footer__links ul > * + * {
  margin-top: 12px; }

#footer .footer__right {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  @media (max-width: 910px) {
    #footer .footer__right {
      align-items: center; } }

@media (max-width: 910px) {
  #footer .footer__right > * + * {
    margin-top: 50px; } }
#footer .footer__right .footer__logo {
  margin-top: -10px;
  width: 225px; }
  @media (max-width: 910px) {
    #footer .footer__right .footer__logo {
      width: auto; } }

#preload .header-text {
  padding-top: 160px;
  padding-bottom: 90px; }
  #preload .header-text h1 {
    text-align: center;
    margin-bottom: 70px; }
    @media (max-width: 1199px) {
      #preload .header-text h1 {
        font-size: 20px; } }
    @media (max-width: 599px) {
      #preload .header-text h1 {
        font-size: 18px; } }
  #preload .header-text .text__content p:not(:first-child) {
    width: 80%; }
  @media (max-width: 910px) {
    #preload .header-text {
      padding-top: 180px;
      padding-bottom: 70px; } }
  @media (max-width: 599px) {
    #preload .header-text {
      padding-top: 160px;
      padding-bottom: 40px; } }

@media (max-width: 1199px) {
  #preload .text__content {
    font-size: 18px; } }
@media (max-width: 599px) {
  #preload .text__content {
    font-size: 14px; }
    #preload .text__content p:not(:first-child) {
      display: none; } }

#preload .leaders-filter {
  padding-bottom: 120px;
  text-align: center; }
  #preload .leaders-filter h2 {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px; }

#preload form#ledders-filter {
  position: relative; }

#preload .leaders-filter__types h2 {
  margin-bottom: 102px; }
  @media (max-width: 910px) {
    #preload .leaders-filter__types h2 {
      margin-bottom: 70px; } }
  @media (max-width: 599px) {
    #preload .leaders-filter__types h2 {
      font-size: 18px;
      margin-bottom: 26px; } }

#preload .leaders-filter__types-row {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  @media (max-width: 910px) {
    #preload .leaders-filter__types-row {
      align-items: flex-start; } }

#preload .leaders-filter__item .leaders-filter__img {
  border: 0.5px solid #d4d4d4; }

#preload .leaders-filter__item .leaders-filter__img:hover {
  border: 0.5px solid #000; }

#preload .leaders-filter__item {
  position: relative;
  width: 32%; }
  @media (max-width: 910px) {
    #preload .leaders-filter__item {
      width: 30%; } }

#preload .leaders-filter__item label {
  display: block;
  font-weight: 300;
  font-size: 24px;
  line-height: 1.1;
  word-break: break-word; }
  @media (max-width: 910px) {
    #preload .leaders-filter__item label {
      font-size: 20px; } }
  @media (max-width: 599px) {
    #preload .leaders-filter__item label {
      font-size: 14px; } }

#preload .leaders-filter__item input {
  position: absolute;
  top: 0;
  right: 0; }

#preload .leaders-filter__item label > * + * {
  margin-top: 18px; }

#preload .leaders-filter__item label input,
#preload .leaders-filter__item label span {
  margin-top: unset; }

#preload .leaders-filter__content > * + * {
  margin-top: 90px; }
  @media (max-width: 599px) {
    #preload .leaders-filter__content > * + * {
      margin-top: 70px; } }

#preload .leaders-filter__categories h2 {
  margin-bottom: 40px; }
  @media (max-width: 599px) {
    #preload .leaders-filter__categories h2 {
      font-size: 18px; } }

#preload .leaders-filter__categories-row {
  display: flex;
  justify-content: space-between; }
  @media (max-width: 910px) {
    #preload .leaders-filter__categories-row {
      flex-wrap: wrap; } }

#preload .leaders-filter__categories-row .leaders-filter__item {
  width: 15%; }
  @media (max-width: 910px) {
    #preload .leaders-filter__categories-row .leaders-filter__item {
      width: 30%;
      height: 240px; } }
  @media (max-width: 599px) {
    #preload .leaders-filter__categories-row .leaders-filter__item {
      height: 180px; } }

#preload .leaders-filter__carcases h2 {
  margin-bottom: 40px; }
  @media (max-width: 599px) {
    #preload .leaders-filter__carcases h2 {
      font-size: 18px; } }

#preload .leaders-filter__carcases-row {
  display: flex;
  justify-content: space-between; }

#preload .leaders-filter__carcases-row .leaders-filter__item {
  width: 32%; }
  @media (max-width: 910px) {
    #preload .leaders-filter__carcases-row .leaders-filter__item {
      height: 240px; } }
  @media (max-width: 599px) {
    #preload .leaders-filter__carcases-row .leaders-filter__item {
      height: 180px; } }

#preload .leaders-filter button.button--catalog {
  position: absolute;
  top: 465px;
  right: -50px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s; }
  @media (max-width: 1199px) {
    #preload .leaders-filter button.button--catalog {
      top: 375px; } }
  @media (max-width: 910px) {
    #preload .leaders-filter button.button--catalog {
      padding: 18px 93px;
      top: 244px;
      right: 145px; }
      #preload .leaders-filter button.button--catalog svg {
        display: none; } }
  @media (max-width: 599px) {
    #preload .leaders-filter button.button--catalog {
      top: 153px;
      right: 40px; } }
  @media (max-width: 395px) {
    #preload .leaders-filter button.button--catalog {
      padding: 10px 55px;
      top: 145px;
      right: 43px; } }

#preload .leaders-filter button.button--catalog > * + * {
  margin-left: 35px; }

#preload .leaders-filter .real-checkbox {
  width: 0;
  height: 0;
  opacity: 0;
  z-index: -1; }

.leaders-filter .custom-checkbox {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 25px;
  height: 25px;
  border-radius: 4px;
  display: block; }

.leaders-filter .custom-checkbox--small {
  top: 11px;
  right: 11px; }

.leaders-filter .custom-checkbox::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 19px;
  background-image: url(../img/preload/form/check.svg);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.2s ease-in; }

.real-checkbox:checked + .custom-checkbox::before {
  transform: translate(-50%, -50%) scale(1); }

#catalog-item {
  margin-left: 128px; }

#catalog-item .header-nav__wrapper {
  padding-right: 150px; }
  @media (max-width: 910px) {
    #catalog-item .header-nav__wrapper {
      padding-right: 15px; } }

#catalog-item .product__slider img {
  width: 20.5%; }

/*# sourceMappingURL=main.css.map */
