/* Reset and base styles  */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%; /* sticky footer */
}

body {
  height: 100%; /* sticky footer */
  display: flex; /* sticky footer */
  flex-direction: column; /* sticky footer */
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #000000;
}

body#preload {
  margin-left: 128px;

  footer {
    margin-left: -128px;

    @media (max-width: $mobile) {
      margin-left: 0;
    }
  }

  @media (max-width: $mobile) {
    margin-left: auto;
  }
}

body#category-ledders {
  margin-left: 128px;

  footer {
    margin-left: -128px;

    @media (max-width: $mobile) {
      margin-left: 0;
    }
  }

  @media (max-width: $mobile) {
    margin-left: auto;
  }
}

body > * {
  flex-shrink: 0; /* sticky footer */
}

input,
textarea,
button {
  font-family: inherit;
  padding: 0;
  outline: none;
}

label {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

legend {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
}

/* Grid styles */

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 2000px) {
  .container--large {
    width: 1750px;
  }
}

/* Utility */

.none {
  display: none !important;
}

/* Sticky Footer */

.footer {
  margin-top: auto; /* sticky footer */

  /* Just for fun */
  text-align: center;
  background-color: #e2e2e2;
  padding: 50px 0;
}
