/* Tablet */
@media (max-width: $tablet) {
  .container {
    max-width: 900px;
  }
}

/* Mobile */
@media (max-width: $mobile) {
  .container {
    max-width: 600px;
  }
}

@media (max-width: $mobile-small) {
  .container {
    max-width: 428px;
  }
}

/* Mobile XS */
@media (max-width: $mobile-xs) {
  .container {
    width: 100%;
  }
}



