.benefits {
  text-align: center;

  & h3 {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.1;
    margin-bottom: 116px;
    margin-bottom: 60px;

    @media (max-width: $mobile-small){
        font-size: 18px;
    }
  }
}
.benefits__content > * + * {
  margin-top: 92px;

  @media (max-width: $mobile) {
    margin-top: 60px;
  }
}

.benefits__top,
.benefits__bottom {
  display: flex;
  justify-content: space-between;
}

.benefits__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 32%;
  line-height: 2;

  @media (max-width: $mobile-small) {
    font-size: 12px;
    img {
      width: 35px;
      height: 35px;
    }
  }
}
.benefits__item > * + * {
  margin-top: 18px;
}

.benefits__item span {
  color: orange;
}

#preload .benefits {
  padding-bottom: 196px;

  @media (max-width: $mobile) {
    padding-bottom: 100px;
  }

  @media (max-width: $mobile-small) {
    font-size: 12px;
    padding-bottom: 60px;
  }


}


#mezzanine .benefits{
  padding-top: 100px;
  padding-bottom: 100px;

  @media (max-width: $mobile) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}