#category-ledders #catalog-pattern {
  padding-top: 150px;
}

#catalog-pattern .catalog-pattern__navigation {
  margin-bottom: 28px;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.1;

  color: #d4d4d4;
}

#catalog-pattern .catalog-pattern__show {
  position: relative;
  padding-bottom: 16px;
  border-bottom: 0.8px solid #d4d4d4;
}

#catalog-pattern .catalog-pattern__show::after {
  content: "";
  width: 74px;
  height: 3px;
  position: absolute;
  bottom: -2px;
  left: 0;
  background-image: url(../img/ledders/line.svg);
}

#catalog-pattern .catalog-pattern__filter-wrapper {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background: #f9f9f9;
  width: 270px;
}

#catalog-pattern .catalog-pattern__filter-wrapper > * + * {
  margin-top: 28px;
}

#catalog-pattern .catalog-pattern__filter h3 {
  text-align: center;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  cursor: pointer;
}

#catalog-pattern .catalog-pattern__filter {
  & p {
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.1;
    color: #00365b;
  }
}

#catalog-pattern .catalog-pattern__filter label {
  display: flex;
  justify-content: space-between;
  width: 100%;

  & i {
    margin-left: 5px;
  }
}

#catalog-pattern .catalog-pattern__filter ul > li + li {
  margin-top: 12px;
}

#catalog-pattern .catalog-pattern__category,
#catalog-pattern .catalog-pattern__type,
#catalog-pattern .catalog-pattern__carcas,
#catalog-pattern .catalog-pattern__stages,
#catalog-pattern .catalog-pattern__railing {
  padding-bottom: 30px;
}

#catalog-pattern .catalog-pattern__category,
#catalog-pattern .catalog-pattern__type,
#catalog-pattern .catalog-pattern__carcas,
#catalog-pattern .catalog-pattern__stages {
  border-bottom: 0.8px solid #d4d4d4;
}

#catalog-pattern .catalog-pattern__content {
  display: flex;
}

#catalog-pattern .catalog-pattern__content > * + * {
  margin-left: 20px;
}

#catalog-pattern .catalog-pattern__products-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#catalog-pattern .catalog-pattern__show,
#catalog-pattern .catalog-pattern__more {
  display: flex;
  align-items: center;
  justify-content: center;
}

#catalog-pattern .catalog-pattern__show > * + *,
#catalog-pattern .catalog-pattern__more > * + * {
  margin-left: 9px;
}

#catalog-pattern .catalog-pattern__more {
  margin-top: 53px;
  cursor: pointer;
}

#catalog-pattern .catalog-pattern__product {
  display: flex;
  flex-direction: column;
  width: 270px;
}

#catalog-pattern .catalog-pattern__product > * + * {
  margin-top: 12px;
}

#catalog-pattern .catalog-pattern__product .catalog-pattern__text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#catalog-pattern .catalog-pattern__product .catalog-pattern__title {
  width: 165px;
}

.catalog-pattern__filter label {
  position: relative;
}

.catalog-pattern__filter .real-checkbox {
  width: 0;
  height: 0;
  opacity: 0;
  z-index: -1;
}

.catalog-pattern__filter .custom-checkbox {
  position: absolute;
  top: 0;
  right: 0;
  width: 18px;
  height: 18px;

  background: #ffffff;
  border: 0.5px solid #7a7a7a;
  border-radius: 4px;
  display: block;
}

.catalog-pattern__filter .custom-checkbox::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  background-image: url(../img/ledders/check.svg);
  background-size: contain;
  background-repeat: no-repeat;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);

  transition: 0.2s ease-in;
}

.catalog-pattern__filter .real-checkbox:checked + .custom-checkbox::before {
  transform: translate(-50%, -50%) scale(1);
}
