.catalog-card {
  position: relative;
  max-width: 365px;
  height: 227px;
  color: #000;
  border: 0.5px solid #d4d4d4;
  overflow: hidden;

  @media (max-width: $tablet) {
    height: 170px;
  }

  @media (max-width: $mobile-small) {
    height: 140px;
  }

  @media (max-width: $mobile-small) {
    height: 115px;
  }


}

.catalog-card--large {
  height: 467px;

  @media (max-width: $tablet) {
    height: 353px;
  }

  @media (max-width: $mobile-small) {
    height: 293px;
  }

  @media (max-width: $mobile-small) {
    height: 243px;
  }
}

.catalog-card img {
  // height: 100%;
  object-fit: cover;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;

  
  position: absolute;
  bottom: 0;
}

.catalog-card:hover {
  img {
    transform: scale(1.1);
    /* IE 9 */
    -webkit-transform: scale(1.1);
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    -ms-transform: scale(1.5, 1.5);
  }
}

.catalog-card__header {
  position: absolute;
  left: 50%;
  transform: translate(-50%);

  width: 100%;
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
  z-index: 10;

  text-align: center;

  @media (max-width: $tablet) {
    padding-top: 15px;
  }

  @media (max-width: $mobile) {
    font-size: 15px;
  }

  @media (max-width: $mobile-small) {
    font-size: 13px;
    padding-top: 10px;
  }
}
