#category-ledders #catalog-pattern {
  padding-top: 100px;
  padding-bottom: 90px;

  @media (max-width: $mobile-small) {
    padding-bottom: 50px;
  }
}

#catalog-pattern .catalog-pattern__navigation {
  margin-bottom: 28px;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.1;

  color: #d4d4d4;

  & span {
    color: #000;
  }

  & a{
    color: #d4d4d4;
  }
}

.catalog-pattern__show {
  padding-top: 20px;
  position: relative;
  padding-bottom: 16px;
  border-bottom: 0.8px solid #d4d4d4;

  position: sticky;
  z-index: 96;
  top: 0;

  background: #f9f9f9;
}

.catalog-pattern__show::after {
  content: "";
  width: 74px;
  height: 3px;
  position: absolute;
  bottom: -2px;
  left: 0;
  background-image: url(../img/ledders/line.svg);
}

.catalog-pattern__filter-wrapper {
  max-height: 1500px;

  padding-left: 20px;
  padding-right: 20px;
  background: #f9f9f9;
  width: 270px;
}

.catalog-pattern__mobile-filter .catalog-pattern__filter-wrapper {
  max-height: 70vh;
  overflow-y: scroll;
  @media (max-width: 1000px) {
    width: 240px;
  }
}

.show-arrow.show {
  transform: rotate(180deg);
}

.catalog-pattern__inner {
  margin-top: 28px;
  max-height: 0px;
  overflow: hidden;
  transition: all 0.4s;
}

.catalog-pattern__inner.show {
  max-height: 1500px;
  transition: all 0.4s;
}

.catalog-pattern__inner > * + * {
  margin-top: 28px;
}

.catalog-pattern__filter h3 {
  text-align: center;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  cursor: pointer;
}

.catalog-pattern__filter {
  & p {
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.1;
    color: #00365b;
  }
}

#catalog-pattern .catalog-pattern__content .catalog-pattern__filter {
  @media (max-width: $mobile) {
    display: none;
  }
}

.catalog-pattern__filter label {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-weight: 300;

  & i {
    margin-left: 5px;
  }
}

.catalog-pattern__filter ul > li + li {
  margin-top: 12px;
}

.catalog-pattern__category,
.catalog-pattern__type,
.catalog-pattern__carcas,
.catalog-pattern__stages,
.catalog-pattern__railing {
  padding-bottom: 30px;
}

.catalog-pattern__category,
.catalog-pattern__type,
.catalog-pattern__carcas,
.catalog-pattern__stages {
  border-bottom: 0.8px solid #d4d4d4;
}

.catalog-pattern__content {
  display: flex;

  @media(max-width: $mobile){
    width: 570px;
  }

  @media (max-width: $mobile-small) {
    width: 400px;
  }

  @media(max-width: $mobile-xs){
    width: 100%;
  }
 
}

.catalog-pattern__content > * + * {
  margin-left: 20px;

  @media (max-width: $mobile) {
    margin-left: 0;
  }
}

#catalog-pattern .catalog-pattern__products-wrapper {
  margin-right: -10px;
  margin-left: -10px;
  display: flex;
  flex-wrap: wrap;
  

  margin-top: 25px;

  @media (max-width: $mobile-xs) {
    justify-content: center;
  }
}

#catalog-pattern .catalog-pattern__show,
#catalog-pattern .catalog-pattern__more {
  display: flex;
  align-items: center;
  justify-content: center;

  background: #f9f9f9;
}

#catalog-pattern .catalog-pattern__show > * + *,
#catalog-pattern .catalog-pattern__more > * + * {
  margin-left: 9px;
}

#catalog-pattern .catalog-pattern__more {
  cursor: pointer;

  padding: 10px 0;

  background: unset;

  @media (max-width: $mobile-small) {
    font-size: 14px;
  }
}

#catalog-pattern .catalog-pattern__card {
  position: relative;
  transition: all 0.2s ease-in-out;
  margin-bottom: 48px;

  @media (max-width: $mobile) {
    width: 196px;
    font-size: 12px;

    margin-bottom: unset;
  }

  @media (max-width: $mobile-small) {
    width: 210px;
  }

  @media (max-width: $mobile-xs) {
    width:45vw;
  }
}

#catalog-pattern .catalog-pattern__product {
  position: relative;

  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;

  display: flex;
  flex-direction: column;
  width: 290px;

  cursor: pointer;

  @media (max-width: 1000px) {
    width: 240px;
  }

  @media (max-width: $mobile) {
    width: auto;
    margin-bottom: unset;
  }
}

#catalog-pattern .catalog-pattern__img {
  position: relative;
  display: block;
  transition: all 0.2s ease-in-out;

  & img{
    transition: all 0.2s ease-in-out;
  }

  & .button--catalog {
    display: flex;

    visibility: hidden;
    opacity: 0;

    position: absolute;
    bottom: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.2s ease-in-out;

    width: 183px;
    padding: 13px 30px;

    font-weight: 300;
    font-size: 18px;
    line-height: 1.1;

    

    @media (max-width: $mobile) {
      display: none;
    }
  }

  & .button--catalog > * + * {
    margin-left: 11px;
  }
}

#catalog-pattern .catalog-pattern__card:hover .overlay-product {
  visibility: visible;
  opacity: 1;
  transition: all 0.2s ease-in-out;
}

#catalog-pattern .catalog-pattern__card:hover .catalog-pattern__img .button {
  visibility: visible;
  opacity: 1;
  transition: all 0.2s ease-in-out;
}

#catalog-pattern .catalog-pattern__card:hover {
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;

  & .catalog-pattern__img img{
    filter: brightness(40%);
    transition: all 0.2s ease-in-out;

    @media (max-width: $mobile) {
      filter: unset;
    }
  }

  @media (max-width: $mobile) {
    box-shadow: unset;
  }
}

#catalog-pattern .catalog-pattern__card .overlay-product {
  visibility: hidden;
  opacity: 0;

  transition: all 0.2s ease-in-out;

  position: absolute;

  width: 100%;

  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  z-index: 5;

  

  & .overlay-product-link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.1;
    text-decoration-line: underline;
    color: #00365b;
    cursor: pointer;

    @media (max-width: $mobile) {
      padding: 5px 10px;
      border: 1px solid #00365b;
      text-decoration: unset;

     
      font-size: 17px;
    }
  }

  @media (max-width: $mobile) {
    visibility: visible;
    opacity: 1;
    position: static;
    bottom: unset;
    box-shadow: unset;
  }
}

#catalog-pattern .overlay-product .catalog-pattern__chars {
  margin-bottom: 27px;
  min-height: 102px;

  & li{

    @media (max-width: $mobile) {
      white-space: nowrap; /* Запрещаем перенос строк */
      overflow: hidden; /* Обрезаем все, что не помещается в область */
      text-overflow: ellipsis; /* Добавляем многоточие */
    }
  }
}

#catalog-pattern .overlay-product .catalog-pattern__product {
  margin-bottom: 0;
}

#catalog-pattern .catalog-pattern__img .overlay {
  position: absolute;
  // visibility: hidden;

  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

#catalog-pattern .catalog-pattern__products {
  width: 100%;

  & h1 {
    text-align: center;
    margin-bottom: 20px;

    @media (max-width: $mobile) {
      font-size: 20px;
    }
  }
}

#catalog-pattern .catalog-pattern__product > * + * {
  margin-top: 12px;
}

#catalog-pattern .catalog-pattern__product .catalog-pattern__text {
  display: flex;
  justify-content: space-between;
  
  max-height: 40px;
  min-height: 40px;

  @media (max-width: $mobile) {
    max-height: 30px;
    min-height: 30px;
  }
}

#catalog-pattern .catalog-pattern__product .catalog-pattern__title {
  width: 235px;
  margin-bottom: 5px;

  @media (max-width: $mobile) {
    width: 145px;
  }
  
}

#catalog-pattern .catalog-pattern__product .catalog-pattern__title p {
  @media (max-width: $mobile) {
    min-height: 26px;
    
  }
}

.catalog-pattern__filter label {
  position: relative;
}

.catalog-pattern__number{
  display: flex;
  align-items: center;
}

.catalog-pattern__filter .real-checkbox {
  width: 0;
  height: 0;
  opacity: 0;
  z-index: -1;
}

.catalog-pattern__filter .custom-checkbox {
  position: absolute;
  top: 4px;
  right: 0;
  width: 18px;
  height: 18px;

  background: #ffffff;
  border: 0.5px solid #7a7a7a;
  border-radius: 4px;
  display: block;
}

.catalog-pattern__filter .custom-checkbox::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  background-image: url(../img/ledders/check.svg);
  background-size: contain;
  background-repeat: no-repeat;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);

  transition: 0.2s ease-in;
}

.catalog-pattern__filter .real-checkbox:checked + .custom-checkbox::before {
  transform: translate(-50%, -50%) scale(1);
}

#catalog-pattern .catalog-pattern__info {
  padding-bottom: 25px;
  padding-top: 18px;
  padding-left: 20px;
  padding-right: 20px;

  background: #fff;
  width: 100%;

  @media (max-width: $mobile) {
    padding-left: 12px;
    padding-right: 12px;
  }
}

#catalog-pattern .catalog-pattern__info .catalog-pattern__price {
  margin-bottom: 8px;
}

#catalog-pattern .catalog-pattern__info .catalog-pattern__label {
  margin-bottom: 16px;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.1;
  color: #868686;

  @media (max-width: $mobile) {
    font-size: 10px;
  }
}

#catalog-pattern .catalog-pattern__info .catalog-pattern__chars {
  & span {
    font-weight: 300;
    font-size: 18px;
    line-height: 1.1;
    color: #868686;
  }

  & ul > * + * {
    margin-top: 8px;
  }

  & li span {
    margin-right: 12px;

    @media (max-width: $mobile) {
      font-size: 12px;
      margin-right: 8px;
    }
  }
}

.catalog-pattern__banner {
  width: 100%;

  background-color: #a8a8a8;
}

.catalog-pattern__filter-overlay {
  width: 100%;
  height: 100%;
}

.catalog-pattern__mobile-filter {
  position: fixed;
  top: 20vh;
  left: 0;
  height: 610px;

  z-index: 100;

  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.catalog-pattern__mobile-filter.active {
  transform: translateX(0%);
  transition: transform 0.5s ease-in-out;
}

#catalog-pattern .catalog-pattern__mobile-filter .catalog-pattern__filter {
  @media (max-width: $mobile) {
    display: block;
  }
}

.catalog-pattern__mobile-icon {
  width: 92px;
  padding: 2px;

  background-color: #f37833;

  @media (max-width: $mobile-small) {
    width: 68px;
  }
}

.catalog-pattern__icon-content {
  padding: 7px 10px;
  border: 1px solid #fff;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  & p {
    color: #fff;
    font-size: 12px;

    @media (max-width: $mobile-small) {
      font-size: 8px;
    }
  }
}

.catalog-pattern__icon-content > * + * {
  margin-top: 5px;
}

.catalog-pattern__mobile-catalog-btn {
  display: none;
  position: absolute;
  left: 0;
  z-index: 96;

  @media (max-width: $mobile) {
    display: block;
  }
}

.catalog-pattern__mobile-catalog-btn .catalog-pattern__filter {
  margin-top: 0;
}

.catalog-pattern__mobile-catalog-btn .catalog-pattern__filter-wrapper {
  padding-right: 0;
}

.catalog-pattern__mobile-catalog-btn .catalog-pattern__show {
  position: relative;

  margin-right: 20px;
}

.catalog-pattern__close-btn {
  position: absolute;
  left: 0;
  top: 20px;

  cursor: pointer;
}

.catalog-pattern__mobile-catalog-btn .catalog-pattern__inner.show {
  height: 500px;
  overflow-y: scroll;
  padding-right: 5px;
}
