#main .category-pattern > * + * {
  margin-top: 13px;

  @media (max-width: $mobile-small) {
    margin-top: 8px;
  }
}

#main .category-pattern label {
  font-weight: 300;
  font-size: 24px;
  line-height: 1.1;
}

#main .category-pattern .category-pattern__bottom {
  display: flex;
  justify-content: space-between;
}

#main .category-pattern .category-pattern__row {
  display: flex;
  justify-content: space-between;
}

#main .category-pattern .category-pattern__row .category-card {
  width: 49%;
}

#main .category-pattern .category-pattern__column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 49%;
}

#main .category-pattern .category-pattern__column > * + * {
  margin-top: 13px;

  @media (max-width: $mobile-small) {
    margin-top: 8px;
  }
}

#main .category-pattern .category-card {
  position: relative;

  min-height: 350px;
  color: #000;

  border: 0.8px solid #d4d4d4;

  font-weight: 300;
  font-size: 24px;
  line-height: 1.1;
  overflow: hidden;

  img {
    // height: 100%;
    object-fit: cover;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }

  @media (max-width: $tablet) {
    min-height: 270px;
  }

  @media (max-width: $mobile) {
    min-height: 200px;
  }

  @media (max-width: $mobile-small) {
    min-height: 120px;
  }
}

#main .category-pattern .category-card:hover {
  img {
    transform: scale(1.1);
    /* IE 9 */
    -webkit-transform: scale(1.1);
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    -ms-transform: scale(1.5, 1.5);
  }
}

#main .category-pattern .category-card.category-card--large {
  min-height: 718px;

  @media (max-width: $tablet) {
    min-height: 540px;
  }

  @media (max-width: $mobile) {
    min-height: 400px;
  }

  @media (max-width: $mobile-small) {
    min-height: 240px;
  }
}

#main .category-pattern .category-card .category-card__title {
  z-index: 10;

  position: absolute;
  left: 50%;
  transform: translate(-50%);

  @media (max-width: $tablet) {
    font-size: 20px;
  }

  @media (max-width: $mobile) {
    font-size: 15px;
  }

  @media (max-width: $mobile-small) {
    font-size: 11px;
  }

  @media (max-width: $mobile-xs) {
    font-size: 9px;
  }
}

#main .category-pattern .category-card .category-card__number {
  font-weight: 400;
  z-index: 10;

  @media (max-width: $tablet) {
    font-size: 20px;
  }

  @media (max-width: $mobile) {
    font-size: 15px;
  }

  @media (max-width: $mobile-small) {
    font-size: 11px;
  }

  @media (max-width: $mobile-small) {
    font-size: 9px;
  }
}

#main .category-card__header {
  position: absolute;
  left: 50%;
  transform: translate(-50%);

  width: 100%;
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 25px;

  z-index: 10;

  @media (max-width: $tablet) {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (max-width: $mobile) {
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
  }

  @media (max-width: $mobile-small) {
    padding-top: 11px;
    padding-left: 11px;
    padding-right: 11px;
  }

  @media (max-width: $mobile-xs) {
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
  }
}

#main .category-card__header-content {
  display: flex;
  justify-content: flex-end;
}

.category-pattern__button-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 350px;

  margin-top: 35px;
  margin-left: auto;
  margin-right: auto;

  font-size: 20px;
  background: #00365b;

  cursor: pointer;


  @media (max-width: $mobile) {
    max-width: 260px;
    font-size: 16px;
  }
 
}

.category-pattern__button-mobile > * + * {
  margin-left: 13px;
}

.filter-show {
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter-show > * + * {
  margin-left: 10px;
}

.category-pattern__button {
  display: none;
  position: absolute;
  top: 73px;
  right: -30px;

  padding: 15px 30px;
  background: #00365b;
  font-size: 18px;

 
}

.category-pattern__button > * + * {
  margin-left: 10px;
}
