.contacts-form {
  background-image: url(../img/preload/form/bg-form.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 30px;
  padding-top: 78px;

  @media (max-width: $mobile-small) {
    padding-top: 40px;
  }
}

.contacts-form__wrapper {
  display: flex;
}

.contacts-form__left,
.contacts-form__right {
  width: 50%;

  & h3 {
    font-weight: 300;
    font-size: 24px;
    line-height: 1.5;

    @media (max-width: $mobile-small) {
      font-size: 16px;
    }
  }
}

.contacts-form__right {
  @media (max-width: $mobile) {
    display: none;
  }
}

.contacts-form__left {
  display: flex;
  flex-direction: column;

  & h3 {
    margin-bottom: 60px;
  }

  @media (max-width: $mobile) {
    width: 100%;
  }
}

.contacts-form__left #input-upload {
  display: none;
}

.contacts-form__fields {
  width: 302px;
  margin-bottom: 40px;

  @media (max-width: $mobile) {
    width: 70%;
  }
}

.contacts-form__fields > * + * {
  margin-top: 17px;
}

.contacts-form__left .contacts-form__fields input {
  display: block;
  outline: none;
  border: none;
  height: 21px;
  margin-left: 36px;

  background: transparent;
}

.contacts-form__left .contacts-form__fields input::placeholder {
  font-weight: 300;
  font-size: 18px;
  line-height: 1.1;

  color: #d4d4d4;
}

.contacts-form__item {
  display: flex;
  border-bottom: 0.5px solid #d4d4d4;
}

.contacts-form__left .contacts-form__fields label {
  padding-bottom: 15px;
  display: flex;
  align-items: center;
}

.contacts-form__left .contacts-form__stages {
  padding-bottom: 37px;
  & h3 {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 50px;
  }
}

.contacts-form__left .contacts-form__stages .contacts-form__stages-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15.5%;

  & p {
    font-weight: 300;
    font-size: 14px;
    line-height: 1.1;
  }

  @media (max-width: $mobile-small) {
    width: 24.5%;
  }
}

.contacts-form__left
  .contacts-form__stages
  .contacts-form__stages-item
  > *
  + * {
  margin-top: 16px;
}

.contacts-form__left .contacts-form__stages .contacts-form__stages-row {
  display: flex;

  justify-content: space-between;
}

.contacts-form__left .contacts-form__stages .contacts-form__stages-item label {
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;

  @media (max-width: $mobile-small) {
    font-size: 13px;
  }
}

.contacts-form__left .contacts-form__stages .contacts-form__stages-item input {
  position: absolute;
  top: -13px;
  right: 0;
}

.contacts-form__left .contacts-form__left-bottom {
  width: 484px;

  @media (max-width: $mobile) {
    width: 85%;
  }

  @media (max-width: $mobile-small) {
    width: 100%;
  }
}

.contacts-form__left .contacts-form__textarea {
  padding: 23px 55px;
  margin-bottom: 30px;
  outline: none;
  border: 0.8px solid #d4d4d4;

  & textarea {
    width: 100%;
    height: 21px;
    border: none;
    resize: none;
  }

  & textarea::placeholder {
    font-weight: 300;
    font-size: 18px;
    line-height: 1.1;

    color: #d4d4d4;
  }

  @media (max-width: $mobile-small) {
    padding: 23px 23px;
  }
}

.contacts-form__left .contacts-form__file p {
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
}

.contacts-form__left .contacts-form__button {
  display: flex;
  justify-content: flex-end;

  @media (max-width: $mobile) {
    button {
      font-size: 18px;
      padding: 15px 30px;
      height: 50px;
    }
  }
}

.contacts-form__left .contacts-form__button > * + * {
  margin-left: 24px;
}

.contacts-form__left .contacts-form__file {
  display: flex;
  align-items: center;

  & p {
    text-align: center;
  }

  & svg {
    cursor: pointer;
  }
}

.contacts-form__left .contacts-form__file > * + * {
  margin-left: 10px;
}

.contacts-form .real-checkbox {
  width: 0;
  height: 0;
  opacity: 0;
  z-index: -1;
}

.contacts-form .custom-checkbox {
  position: absolute;
  top: 0;
  right: 0;
  width: 18px;
  height: 18px;

  background: #ffffff;
  border: 0.5px solid #7a7a7a;
  border-radius: 4px;
  display: block;
}

.contacts-form .custom-checkbox::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  background-image: url(../img/ledders/check.svg);
  background-size: contain;
  background-repeat: no-repeat;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);

  transition: 0.2s ease-in;
}

#category-ledders .contacts-form {
  padding-top: 78px;
}
