#header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 97;
  background-color: #fff;
  transition: all 0.2s ease-in-out;
}

#header.nav-up {
  top: -$headerHeight;
  transition: all 0.2s ease-in-out;
}

#header.header--main {
  @media (max-width: $mobile) {
    box-shadow: unset;
  }
}

#header.header--secondary {
  margin-left: -128px;

  @media (max-width: $mobile) {
    margin-left: 0;
  }
}

#catalog #header.header--secondary {
  margin-left: 0;
}

.header-nav {
  display: flex;
  justify-content: flex-end;
  font-weight: 300;

  @media (max-width: 1150px) {
    font-size: 14px;
  }

  @media (max-width: 990px) {
    font-size: 12px;
  }
}

#header.header-scroll-active {
  box-shadow: 0px -1px 10px rgba(0, 0, 0, 0.25);
}

.header-nav--secondary .header-nav__wrapper,
.header-nav--secondary .header-nav__wrapper {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 15px;
  display: flex;
  align-items: center;

  @media (max-width: $mobile) {
    padding: 15px;
  }
}

#catalog .header-nav--secondary .header-nav__wrapper {
  padding-left: 30px;
  padding-right: 15px;
}

.header-nav__menu {
  // min-width: 626px;
  padding-left: 32px;

  display: flex;
  align-items: center;

  min-height: 41px;

  & ul {
    display: flex;
  }

  & a {
    position: relative;
    display: block;
    text-decoration: none;
    color: black;
  }

  & a::before {
    content: "";
    height: 2px;
    width: 0%;
    position: absolute;
    bottom: -5px;
    z-index: -1;
    background-color: #f37833;
    transition: 0.5s;
  }

  & a:hover::before {
    width: 40%;
    transition: 0.5s;
  }

  & a:focus {
    color: #f37833;
  }

  @media (max-width: 1470px) {
    padding-left: 0;
    padding-right: 32px;

    ul li {
      display: none;

      &:nth-child(1) {
        display: block;
      }

      &:nth-child(2) {
        display: block;
      }

      &:nth-child(3) {
        display: block;
      }
    }
  }

  @media (max-width: $mobile) {
    display: none;
  }
}

.header-nav__logo {
  width: 230px;
  flex-shrink: 0;

  & img:nth-child(1) {
    display: block;
  }

  & img:nth-child(2) {
    display: none;
  }

  @media (max-width: $mobile) {
    width: 150px;
  }
}

.header-nav .sidebar__logo {
  &:hover {
    svg {
      & path:nth-child(1) {
        fill: #ff5c00;
      }
      & path:nth-child(2) {
        fill: #ff5c00;
      }
      & path:nth-child(3) {
        fill: #00365b;
      }
      & path:nth-child(4) {
        fill: #00365b;
      }
    }
  }
}

.header-nav__logo img {
  width: 186px;
}

#header.header-scroll-active .header-nav__logo {
  & img:nth-child(2) {
    display: block;
  }

  & img:nth-child(1) {
    display: none;
  }
}

.header-nav__icon {
  display: none;
  position: relative;
  height: 20px;
  cursor: pointer;

  @media (max-width: 1470px) {
    display: block;
  }
}

.header-nav__icon:hover {
  .header-nav__dropdown {
    opacity: 1;
    visibility: visible;
  }
}

.header-nav__dropdown {
  opacity: 0;
  visibility: hidden;

  padding: 15px;
  position: absolute;
  top: 17px;
  left: 0;

  box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.25);

  background-color: #fff;
  color: #000;

  & a {
    position: relative;
    color: #000 !important;
  }

  & a::before {
    content: "";
    height: 2px;
    width: 0%;
    position: absolute;
    bottom: -5px;

    background-color: #f37833;
    transition: 0.5s;
  }
}

.header-nav__dropdown a:hover::before {
  width: 40%;
}

.header-nav__dropdown ul > * + * {
  margin-top: 10px;
}

.header-nav__right {
  // min-width: 440px;
  display: flex;
  align-items: center;
}

.header-nav__right > * + * {
  margin-left: 32px;
}

.header-nav__contacts {
  display: flex;
  align-items: center;

  & a {
    color: black;
  }
}

.header-nav__contacts > * + * {
  margin-left: 32px;
}

.header-nav__menu > * + * {
  margin-left: 38px;
}

.header-nav__menu ul > * + * {
  margin-left: 38px;
}

.nav-menu__icon {
  cursor: pointer;
  & svg {
    margin-bottom: 3px;
  }
}

.header-nav--secondary .header-nav__wrapper,
.header-nav--secondary .header-nav__wrapper {
  width: 100%;
  justify-content: space-between;
}

// .header-nav--secondary .header-nav__left {
//   width: 70%;
// }

.header-nav__navigation {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  font-weight: 300;
}

.header__burger-menu {
  display: none;
  align-items: center;
  justify-content: center;

  width: 55px;
  height: 40px;

  background-color: #f37833;
  cursor: pointer;

  @media (max-width: $mobile) {
    display: flex;
  }
}

.header__logo {
  display: none;
  flex-shrink: 0;

  @media (max-width: $mobile) {
    display: block;
  }
}

.header-nav .sidebar__logo {
  display: block;

  @media (max-width: $mobile) {
    display: none;
  }
}

.header-nav__apply-btn {
  background: transparent;
  color: #fff;
  font-size: 16px;
}

.header-nav--secondary .header-nav__apply-btn {
  color: #000;
  transition: all 0.2s ease-in-out;

  &:hover {
    color: #fff;
    transition: all 0.2s ease-in-out;
  }
}
