#main header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 97;
  background-color: unset;
  transition: 0.2s ease-in-out;
}

#main .header-nav {
  display: flex;
  justify-content: flex-end;
  font-weight: 500;
  transition: 0.2s ease-in-out;
}

#main .header-nav__wrapper {
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 75px;
  padding-right: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 1330px){
     padding-left: 15px;
    padding-right: 15px;
  }
}

#main #header.header-scroll-active {
  color: #000;
  background-color: #fff;
  
  transition: 0.2s ease-in-out;

  & .header-nav{
    box-shadow: 0px -1px 10px rgba(0, 0, 0, 0.25);
  }

  & a {
    color: #000;
    transition: 0.2s ease-in-out;
  }

  & button{
    color: #000;
    transition: 0.2s ease-in-out;

    &:hover{
      color: #fff;
      transition: 0.2s ease-in-out;
    }
  }

  & .header-nav__icon {
    svg {
      circle {
        fill: #000;
      }
    }
  }
}

.header-nav__menu {
  
  display: flex;
  align-items: center;

  min-height: 41px;

  & ul {
    display: flex;
  }

  & a {
    position: relative;
    display: block;
    text-decoration: none;
    color: black;
  }

  & a::before {
    content: "";
    height: 2px;
    width: 0%;
    position: absolute;
    bottom: -5px;
    z-index: -1;
    background-color: #f37833;
    transition: 0.5s;
  }

  & a:hover::before {
    width: 40%;
    transition: 0.5s;
  }

  @media (max-width: $mobile){
    display: none;
  }
}

.header-nav__logo {
  width: 200px;
}

.header-nav__right {
  display: flex;

  @media (max-width: $mobile){
    display: none;
  }
}

.header-nav__right > * + * {
  margin-left: 32px;
}

.header-nav__contacts {
  padding-left: 32px;
  display: flex;
  align-items: center;

  border-left: 1px solid #d4d4d4;

  & a {
    color: black;
  }
}

.header-nav__contacts > * + * {
  margin-left: 32px;
}

.header-nav__menu > * + * {
  margin-left: 38px;
}

.header-nav__menu ul > * + * {
  margin-left: 38px;
}

.nav-menu__icon {
  cursor: pointer;
  & svg {
    margin-bottom: 3px;
  }
}

#main .header-nav a {
  color: #fff;
}
