.mobile-menu {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 910px;

  border-bottom: 24px solid #00365b;

  z-index: 98;

  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s;
}

.mobile-menu button{
  transition: unset;
}

.mobile-menu.active {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s;
}

.mobile-menu__header {
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 45px;

  display: flex;

  flex-direction: column;
  background-color: #00365b;
}

.mobile-menu__header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & button {
    color: #fff;
    background: transparent;
  }
}

.mobile-menu__header-logo {
  padding-top: 30px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-menu__main {
  background-color: #fff;
}

.mobile-menu__close {
  cursor: pointer;
}

.mobile-menu .mobile-menu__links {
  max-height: 450px;
  overflow-y: auto;
}

.mobile-menu .mobile-link {
  padding: 16px 45px;

  display: flex;
  align-items: center;

  color: #000;
  border-bottom: 1px solid #c9c9c9;
}

.mobile-menu .mobile-link > * + * {
  margin-left: 25px;
}

.mobile-menu .mobile-link.mobile-link--phone {
  font-weight: 700;

  background: #f8f8f8;

  & a {
    color: #00365b;
  }
}

.mobile-menu__contacts {
  padding: 41px 48px;

  display: flex;
  align-items: center;

  & p {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.1;
  }
}

.mobile-menu__contacts > * + * {
  margin-left: 12px;
}
