#sidebar {
  width: 110px;
  /* Full-height: remove this if you want "auto" height */
  /* Set the width of the sidebar */
  max-height: 2300px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff; /* Black */
  overflow: hidden; /* Disable horizontal scroll */
  z-index: 999;

  @media (max-width: $mobile) {
    display: none;
  }
}

#sidebar .sidebar__content {
  display: flex;
  flex-direction: column;
}

#sidebar .sidebar__content .sidebar__logo {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 110px;
  height: 110px;

  &:hover {
    svg {
      & path:nth-child(1) {
        fill: #ff5c00;
      }
      & path:nth-child(2) {
        fill: #ff5c00;
      }
      & path:nth-child(3) {
        fill: #00365b;
      }
      & path:nth-child(4) {
        fill: #00365b;
      }
    }
  }
}

#sidebar .sidebar-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#sidebar .sidebar-menu .sidebar-menu__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 110px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  font-size: 18px;
  line-height: 1.1;

  transition: transform 0.3s;
  transform: scale(0.9);
}

#sidebar .sidebar-menu .sidebar-menu__item svg {
  margin-left: auto;
  margin-right: auto;
}

#sidebar .sidebar-menu .sidebar-menu__item svg:nth-child(2) {
  display: none;
}

#sidebar .sidebar-menu .sidebar-menu__item:hover {
  svg:nth-child(1) {
    display: none;
  }

  svg:nth-child(2) {
    display: block;
  }
}

#sidebar .sidebar-menu .sidebar-menu__item.new::after {
  position: absolute;
  padding: 3px 7px;
  content: "Новинки";
  top: 0;
  right: 0;
  background-color: #f5c8fd;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.1;
}

#sidebar .sidebar-menu .sidebar-menu__item.discount::after {
  position: absolute;
  padding: 3px 7px;
  content: "Акция";
  top: 0;
  right: 0;
  background-color: #c8dafd;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.1;
}

#sidebar .sidebar-menu .sidebar-menu__item a > * + * {
  margin-top: 8px;
}

#sidebar .sidebar-menu .sidebar-menu__item img {
  margin-left: auto;
  margin-right: auto;
}

#sidebar .sidebar-menu .sidebar-menu__item:hover {
  transform: scale(1);
  transition: transform 0.3s;
}

#sidebar .sidebar-menu .sidebar-menu__item a {
  color: #000;
  text-align: center;
}
