.title-h1 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 1.2;

  color: #ffffff;
}

.title-h2 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 0.8;

  color: #000000;
}

.title-category {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 1.1;
}

.title-h3 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.1;
}
