#catalog-item {
  margin-left: 128px;
}

#catalog-item .header-nav__wrapper {
 

  @media (max-width: $mobile) {
    padding-right: 15px;
  }
}

#catalog-item .product__slider img {
  width: 20.5%;
  
  max-height: 115px;

  @media (max-width: $mobile) {
    max-height: 82px;
  }
}


