#catalog-item {
  margin-left: 128px;
}

#catalog-item .header-nav__wrapper {
  padding-right: 150px;

  @media (max-width: $mobile) {
    padding-right: 15px;
  }
}

#catalog-item .product__slider img {
  width: 20.5%;
  

  @media (max-width: $mobile) {
    
  }
}


