.contacts-map {
  padding-top: 90px;
  padding-bottom: 90px;

  @media (max-width: $mobile) {
      padding-top: 120px;
  }
}

.contacts-map__title{
    @media (max-width: $mobile) {
        
        text-align: center;
    }
}

.contacts-map__title h1 {
  font-size: 32px;

  @media (max-width: $mobile) {
    color: #00365b;
    font-size: 24px;
  }
}

.contacts-map__wrapper {
  position: relative;
  margin-top: 23px;

  & img.map {
    object-fit: cover;
    width: 100%;
    max-height: 600px;
    min-height: 600px;

    @media (max-width: $mobile) {
      min-height: 290px;
      max-height: 290px;
    }
  }
}

.contacts-map__marker {
  position: absolute;
  top: 60%;
  left: 54%;
}

.contacts-map__info {
  position: absolute;
  left: 5%;
  top: 10%;

  min-width: 520px;
  padding: 30px;
  background-color: #fff;

  & a {
    display: block;
    color: #000;
  }

  & h3 {
    color: #00365b;
  }

  @media (max-width: 1399px) {
    min-width: 430px;
    font-size: 15px;
  }

  @media (max-width: 1300px) {
    min-width: 400px;
    font-size: 13px;
  }

  @media (max-width: $mobile) {
    min-width: unset;
    padding: 10px;

    left: 2%;
    top: 76%;

    & img {
      width: 130px;
    }
  }

  @media (max-width: 400px) {
    top: 80%;
    & img {
      width: 100px;
    }
  }
}

.contacts-map__info > * > * + * {
  margin-top: 10px;
}

.contacts-map__info .socials {
  justify-content: flex-start;

  @media (max-width: $mobile) {
    display: none;
  }
}

.contacts-map__info > .socials > * + * {
  margin-top: unset;
}

.contacts-map__info > * + * {
  margin-top: 26px;
}

.contacts-map__address {
  max-width: 340px;
}

.contacts-map__info .contacts-map__address {
  @media (max-width: $mobile) {
    display: none;
  }
}

.contacts-map__info .contacts-map__phone {
  @media (max-width: $mobile) {
    display: none;
  }
}
.contacts-map__info .contacts-map__email {
  @media (max-width: $mobile) {
    display: none;
  }
}

.contacts-map__description .container > * + * {
  margin-top: 20px;
}

.contacts-map__description {
  padding-top: 70px;
}

.contacts-map__schedule {
  & li p {
    display: inline-block;
    width: 150px;
  }

  & ul.weekend li p {
    color: red;
  }

  @media (max-width: $mobile) {
    & strong {
        color: #00365b;
      }
  }
}

.contacts-map__schedule > * + * {
  margin-top: 20px;
}

.contacts-map__creds {
  @media (max-width: $mobile) {
    & h4 {
      color: #00365b;
    }

    & strong {
      color: #00365b;
    }
  }
}

.contacts-map__creds > * + * {
  margin-top: 20px;
}

.contacts-map__info-mobile {
  display: none;

  & h3 {
    color: #00365b;
  }

  & a {
    padding-left: 15px;
    display: inline-block;
    color: #000;
  }

  & a::before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    margin-bottom: 2px;
    margin-right: 10px;

    background-image: url(../../svg/status/li-style.svg);
    background-repeat: no-repeat;
  }

  @media (max-width: $mobile) {
    display: block;

   
  }
}

.contacts-map__info-mobile > * + * {
  margin-top: 20px;
}

.contacts-map__info-mobile > * > * + * {
  margin-top: 10px;
}

.contacts-map__info-mobile ul > * + * {
  margin-top: 10px;
}

.contacts-map__info-mobile .contacts-map__address {
  & p::before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    margin-bottom: 2px;
    margin-right: 10px;
    margin-left: 15px;

    background-image: url(../../svg/status/li-style.svg);
    background-repeat: no-repeat;
  }
}
