#footer {
  box-shadow: 0px -1px 10px rgba(0, 0, 0, 0.25);

  @media (max-width: $tablet) {
    font-size: 16px;
  }

  @media (max-width: $mobile-xs) {
    font-size: 13px;
  }
}

#footer .footer__left {
  padding-left: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  height: 100%;

  @media (max-width: $tablet) {
    padding-left: 50px;
  }

  @media (max-width: $mobile) {
    padding-left: 0;
    width: 100%;
  }
}

#footer .footer__left > * + * {
  margin-top: 76px;
}

#footer .footer__wrapper {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  justify-content: space-between;

  @media (max-width: $mobile) {
    flex-direction: column-reverse;
  }
}

@media (max-width: $mobile) {
  #footer .footer__wrapper > * + * {
    margin-bottom: 50px;
  }
}

#footer .footer__links {
  display: flex;
  justify-content: space-between;
}

#footer .footer__copyright {
  display: flex;
  justify-content: space-between;

  @media (max-width: $mobile) {
    flex-direction: column-reverse;
    align-items: center;

    & a {
      font-weight: 700;
    }

    & > * + * {
      margin-bottom: 20px;
    }
  }
}

#footer .footer__left a {
  color: #000;
}

#footer .footer__links ul > * + * {
  margin-top: 12px;
}

#footer .footer__right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (max-width: $mobile) {
    align-items: center;
  }
}

@media (max-width: $mobile) {
  #footer .footer__right > * + * {
    margin-top: 50px;
  }
}

#footer .footer__right .footer__logo {
  margin-top: -10px;
  width: 225px;

  @media (max-width: $mobile) {
    width: auto;
  }
}
