.info {
  background-color: #f8f8f8;
  border-left: 22px solid #f37833;

  background-image: url(../img/main/lavochka.png);
  background-repeat: no-repeat;
  background-position: bottom right;

  @media (max-width: $tablet) {
    background-size: 30%;
  }
}

#mezzanine .info {
  background-image: url(../img/mezzanine/urn1.png);
  margin-left: -150px;
  padding-left: 120px;

  @media (max-width: $mobile) {
    margin-left: unset;
    padding-left: unset;
    background-image: url(../img/mezzanine/urn2.png);
  }

  @media(max-width: $tablet){
    background-size: 55%;
  }
}

.info .info__content {
  padding-bottom: 80px;
  padding-top: 30px;
  

  @media (max-width: $mobile) {
    font-size: 14px;
    line-height: 1.2;
  }
}

.info .info__content p {
  font-size: 18px;

  @media (max-width: $tablet) {
    font-size: 16px;
  }

  @media (max-width: $mobile-xs) {
    font-size: 12px;
  }
}

.info .info__content p:not(:first-child) {
  width: 80%;
}

.info .info__content > p + p {
  margin-top: 40px;
}
