.main-catalog {
  padding-top: 100px;
}

.main-catalog__wrapper {
  display: flex;

  @media (max-width: $mobile) {
    flex-direction: column;
  }
}

.main-catalog__wrapper > * + * {
  margin-left: 21px;

  @media (max-width: $mobile) {
    margin-left: unset;
    margin-top: 13px;
  }
}

.main-catalog__wrapper *{
width:100%
}

.main-catalog__title {
    padding-top: 105px;
    padding-bottom: 55px;
  text-align: center;


  & h1{
    @media (max-width: $mobile) {
  
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  
  color: #00365B;
    }
  }

  @media (max-width: $mobile) {
    padding-top: 0;
  }
  
}

.product__pagination {
  margin-bottom: 28px;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.1;

  color: #d4d4d4;

  & span {
    color: #000;
  }

  & a{
    color: #d4d4d4;
  }

  @media (max-width: $mobile) {
    display: none;
  }
}

.main-catalog__left,
.main-catalog__center,
.main-catalog__right {
  display: flex;
  flex-direction: column;

  & > * + * {
    margin-top: 13px;
  }
}

.main-catalog__left-rows{
  display: flex;
  width: 70%;
  
  
 & > * + * {
  margin-left: 21px;
 }

 @media (max-width: $mobile) {
  flex-direction: row;
  width: 100%;
 }
}

.main-catalog__right-row{
  display: flex;
  flex-direction: column;

  width: 34%;
  & > * + * {
    margin-top: 13px;
  }

   @media (max-width: $mobile) {
     flex-direction: row;
     width: 100%;

     & > * + * {
       margin-top: unset;
      margin-left: 21px;
     }
   }
}

#catalog .text {
  padding-top: 126px;
  padding-bottom: 126px;
}

.main-catalog__text {
  padding-top: 100px;
  padding-bottom: 90px;
}
